{{ 'free-gift.css' | asset_url | stylesheet_tag }}

<div class="free-gift-banner">
    {% comment %} {%- for block in section.blocks -%} {% endcomment %}
        {% if block.settings.gift_image %}
        <div class="gift-image">
            <img src="{{ block.settings.gift_image | image_url: width: 200 }}" alt="{{ block.settings.gift_title | escape }}">
        </div>
        {% endif %}
        <div class="gift-content">
        <p class="gift-label">
            <span class="gift-icon"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_197_1863)">
                <path d="M7.12679 4.46348H4.50179C4.11502 4.46348 3.74408 4.30984 3.47059 4.03634C3.1971 3.76285 3.04346 3.39192 3.04346 3.00515C3.04346 2.61837 3.1971 2.24744 3.47059 1.97395C3.74408 1.70046 4.11502 1.54681 4.50179 1.54681C6.54346 1.54681 7.12679 4.46348 7.12679 4.46348ZM7.12679 4.46348H9.75179C10.1386 4.46348 10.5095 4.30984 10.783 4.03634C11.0565 3.76285 11.2101 3.39192 11.2101 3.00515C11.2101 2.61837 11.0565 2.24744 10.783 1.97395C10.5095 1.70046 10.1386 1.54681 9.75179 1.54681C7.71012 1.54681 7.12679 4.46348 7.12679 4.46348ZM7.12679 4.46348L7.12679 13.2135M1.29346 8.54681H12.9601M1.29346 6.33015L1.29346 11.3468C1.29346 12.0002 1.29346 12.3269 1.42062 12.5765C1.53247 12.796 1.71095 12.9745 1.93047 13.0863C2.18003 13.2135 2.50673 13.2135 3.16012 13.2135L11.0935 13.2135C11.7469 13.2135 12.0735 13.2135 12.3231 13.0863C12.5426 12.9745 12.7211 12.796 12.833 12.5765C12.9601 12.3269 12.9601 12.0002 12.9601 11.3468V6.33015C12.9601 5.67675 12.9601 5.35006 12.833 5.10049C12.7211 4.88097 12.5426 4.70249 12.3231 4.59064C12.0735 4.46348 11.7469 4.46348 11.0935 4.46348L3.16012 4.46348C2.50673 4.46348 2.18003 4.46348 1.93047 4.59064C1.71095 4.70249 1.53247 4.88097 1.42062 5.10049C1.29346 5.35006 1.29346 5.67675 1.29346 6.33015Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_197_1863">
                <rect width="14" height="14" fill="white" transform="translate(0.126953 0.380127)"/>
                </clipPath>
                </defs>
                </svg>
                </span>
            {{ block.settings.gift_label }}
        </p>
        <h3 class="gift-title">{{ block.settings.gift_title }}</h3>
        <div class="gift-description">
            {{ block.settings.gift_description }}
        </div>
        </div>
    {% comment %} {% endfor %} {% endcomment %}
</div>




