{%- if product.metafields.custom.product_accordions_details_text != blank or product.metafields.custom.product_accordions_what_s_in_the_box_text != blank or product.metafields.custom.product_accordions_size_and_fit_text != blank or block.settings.main_information_text_4 != blank -%}
  <div class="Meta_accordions_list_mainloop_new">
    <div class="Meta_accordions_list_innerloop_new">
      <div class="accordion">
        <ul class="list-unstyled">
          {%- if block.settings.main_heading_text_1 != blank and product.metafields.custom.product_accordions_details_text != blank -%}
            <li {% unless acc_default == "close" %}class="open"{% endunless %}>
              {%- if block.settings.main_heading_text_1 != blank -%}
                <div class="question">
                  <h4>{{ block.settings.main_heading_text_1 }}</h4>
                </div>
              {%- endif -%}
              {%- if product.metafields.custom.product_accordions_details_text != blank -%}
                <div class="answer" {% unless acc_default == "close" %}style="display: block;"{% endunless %}>
                  {{ product.metafields.custom.product_accordions_details_text | metafield_tag }}
                </div>
              {%- endif -%}
            </li>
          {%- endif -%}
          {%- if block.settings.main_heading_text_2 != blank and product.metafields.custom.product_accordions_what_s_in_the_box_text != blank -%}
            <li>
              {%- if block.settings.main_heading_text_2 != blank -%}
                <div class="question">
                  <h4>{{ block.settings.main_heading_text_2 }}</h4>
                </div>
              {%- endif -%}
              {%- if product.metafields.custom.product_accordions_what_s_in_the_box_text != blank -%}
                <div class="answer">
                  {{ product.metafields.custom.product_accordions_what_s_in_the_box_text | metafield_tag }}
                </div>
              {%- endif -%}
            </li>
          {%- endif -%}
          {%- if block.settings.main_heading_text_3 != blank and product.metafields.custom.product_accordions_size_and_fit_text != blank -%}
            <li>
              {%- if block.settings.main_heading_text_3 != blank -%}
                <div class="question">
                  <h4>{{ block.settings.main_heading_text_3 }}</h4>
                </div>
              {%- endif -%}
              {%- if product.metafields.custom.product_accordions_size_and_fit_text != blank -%}
                <div class="answer">
                  {{ product.metafields.custom.product_accordions_size_and_fit_text | metafield_tag }}
                  {%- if product.metafields.custom.product_size_fit_popup_item_selections.value != blank -%}
                    {%- if block.settings.main_popup_heading_text_3 != blank -%}
                      <div class="Meta_accordions_list_innerloop_mainpopup_new" {{ block.shopify_attributes }}>
                        <div class="Meta_accordions_list_innerloop_innerpopup_new open_size_popup">
                          <span class="Meta_accordions_list_innerloop_innerpopup_infos_new">
                            {{ block.settings.main_popup_heading_text_3 }}
                          </span>
                          <span class="Meta_accordions_list_innerloop_innerpopup_icons_new">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9002_8496)"><path d="M9.96113 7.38905C10.3907 7.38905 10.7389 7.04083 10.7389 6.61127C10.7389 6.18172 10.3907 5.8335 9.96113 5.8335C9.53157 5.8335 9.18335 6.18172 9.18335 6.61127C9.18335 7.04083 9.53157 7.38905 9.96113 7.38905Z" fill="white"/><path d="M11.6667 12.7779H10.5556V8.3335H8.88894C8.7416 8.3335 8.60029 8.39203 8.49611 8.49621C8.39192 8.6004 8.33339 8.74171 8.33339 8.88905C8.33339 9.03639 8.39192 9.1777 8.49611 9.28189C8.60029 9.38608 8.7416 9.44461 8.88894 9.44461H9.4445V12.7779H8.33339C8.18605 12.7779 8.04474 12.8365 7.94055 12.9407C7.83636 13.0448 7.77783 13.1862 7.77783 13.3335C7.77783 13.4808 7.83636 13.6221 7.94055 13.7263C8.04474 13.8305 8.18605 13.8891 8.33339 13.8891H11.6667C11.8141 13.8891 11.9554 13.8305 12.0596 13.7263C12.1637 13.6221 12.2223 13.4808 12.2223 13.3335C12.2223 13.1862 12.1637 13.0448 12.0596 12.9407C11.9554 12.8365 11.8141 12.7779 11.6667 12.7779Z" fill="white"/><path d="M9.99992 3.3335C8.68138 3.3335 7.39245 3.72449 6.29612 4.45703C5.19979 5.18957 4.34531 6.23077 3.84072 7.44894C3.33614 8.66711 3.20412 10.0076 3.46135 11.3008C3.71859 12.594 4.35353 13.7819 5.28588 14.7142C6.21823 15.6466 7.40611 16.2815 8.69932 16.5387C9.99253 16.796 11.333 16.6639 12.5511 16.1594C13.7693 15.6548 14.8105 14.8003 15.5431 13.704C16.2756 12.6076 16.6666 11.3187 16.6666 10.0002C16.6666 8.23205 15.9642 6.53636 14.714 5.28612C13.4637 4.03588 11.768 3.3335 9.99992 3.3335ZM9.99992 15.5557C8.90114 15.5557 7.82703 15.2299 6.91342 14.6194C5.99981 14.009 5.28774 13.1413 4.86726 12.1262C4.44677 11.111 4.33675 9.994 4.55111 8.91633C4.76548 7.83866 5.29459 6.84875 6.07155 6.07179C6.84851 5.29483 7.83841 4.76572 8.91609 4.55136C9.99376 4.33699 11.1108 4.44701 12.1259 4.8675C13.1411 5.28799 14.0087 6.00006 14.6192 6.91366C15.2296 7.82727 15.5555 8.90138 15.5555 10.0002C15.5555 10.7297 15.4118 11.4522 15.1326 12.1262C14.8534 12.8002 14.4442 13.4127 13.9283 13.9285C13.4124 14.4444 12.8 14.8536 12.1259 15.1328C11.4519 15.412 10.7295 15.5557 9.99992 15.5557Z" fill="white"/></g><defs><clipPath id="clip0_9002_8496"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>
                          </span>
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- endif -%}
            </li>
          {%- endif -%}
          {%- if block.settings.main_heading_text_4 != blank and block.settings.main_information_text_4 != blank -%}
            <li>
              {%- if block.settings.main_heading_text_4 != blank -%}
                <div class="question">
                  <h4>{{ block.settings.main_heading_text_4 }}</h4>
                </div>
              {%- endif -%}
              {%- if block.settings.main_information_text_4 != blank -%}
                <div class="answer">
                  {{ block.settings.main_information_text_4 }}
                </div>
              {%- endif -%}
            </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}