<style>
  video {
    width: 100%;
    height: auto;
  }
  .cutsom-banner__btn-color{
    padding: 13px!important;
  }
</style>
<section class="custom-banner">
  <a href="{{section.settings.button_text_url}}">
    <div class="custom-banner__wrapper tw-relative tw-bg-white md:tw-bg-black">
        {% if section.settings.main_video or section.settings.desktop_image %}
          <div class="custom-banner__media-wrapper ">
            <div class="custom-banner__image custom-banner__image--desktop tw-hidden md:tw-block">
                {%  if section.settings.main_video %}
                {{  section.settings.main_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '400x' }}
                {%  endif %}
            </div>
            <div class="custom-banner__image custom-banner__image--mobile tw-block md:tw-hidden">
                {%  if section.settings.main_video_mobile %}
                {{  section.settings.main_video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '400x' }}
                {%  endif %}
            </div>         
            <div class="custom-banner__image custom-banner__image--desktop tw-hidden md:tw-block">
              {% if section.settings.desktop_image %}
                {%  render 'shopify-responsive-image', image: section.settings.desktop_image, image_aspect_ratio: 1%}
              {% endif %}
            </div>
            <div class="custom-banner__image custom-banner__image--mobile tw-block md:tw-hidden">
                {% if section.settings.mobile_image %}
                  {% assign section_index = section.index | default: 0 %}
                  {% assign mobile_image = section.settings.mobile_image %}
                  <img  
                    {% if section_index > 1 %} loading="lazy" {% else %} loading="eager" fetchpriority="high" {% endif %} 
                    src="{{ mobile_image | image_url }}" 
                    srcset="{% if mobile_image.width >= 375 %}{{ mobile_image | image_url: width: 375 }} 375w,{% endif %}{% if mobile_image.width >= 750 %}{{ mobile_image | image_url: width: 750 }} 750w,{% endif %}{% if mobile_image.width >= 1100 %}{{ mobile_image | image_url: width: 1100 }} 1100w{% endif %}"
                    sizes="100vw"
                    width="{{ mobile_image.width }}"
                    height="{{ mobile_image.height }}"
                    alt="{{ mobile_image.alt | escape }}" 
                    style="width: 100%; height: auto;">
                {% endif %}
            </div>
          </div>
          {% if section.settings.main_video != blank or section.settings.mobile_image != blank %}
            <div class="custom-banner__text-wrapper tw-relative md:tw-absolute md:tw-inset-0 tw-w-full tw-h-full tw-bg-transparent">
                <div class="custom-banner__text tw-w-[100%] tw-flex tw-flex-col tw-text-black  md:tw-text-white tw-items-center tw-gap-4 tw-px-6 tw-py-8 tw-text-center md:tw-absolute tw-left-0 tw-bottom-5 md:tw-bottom-[13%] md:tw-left-1/2 md:tw-transform md:-tw-translate-x-1/2">
                  {% comment %} <h2 class="tw-text-[length:var(--heading-2-size)] tw-text-current tw-font-bold">Declare Your Independence from Boring Sunglasses</h2> 
                  <p class="tw-hidden tw-text-[length:var(--body-font-size)]">Make your dad, grad, husband or yourself summer ready Core to who we are—our partners help us build better tools to unlock real solutions for everyday, active people and those reaching for the highest level</p> {% endcomment %}
                  <div class="hidden">{{section.settings.title}}</div>
                  <div class="hidden">{{section.settings.description}}</div>
                  {% if section.settings.button_text_url != blank %} 
                    <div class="tw-w-full">
                      <button style="background: {{section.settings.button_text_bg}}; color: {{section.settings.button_text_color}}; border: 1px solid {{section.settings.button_text_bg}};" class="cutsom-banner__btn-color tw-w-full tw-py-[13px] md:tw-py-[3px] md:tw-max-w-max tw-border  tw-px-[60px] tw-font-bold tw-min-w-[180px]">{{section.settings.button_text}}</button>
                    </div>
                  {% endif %}
                </div>
            </div>
          {% endif %}
        {% endif %}
    </div>
  </a>
</section>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
       "type": "richtext",
        "id": "title",
        "label": "SEO Title"
    },
    {
       "type": "richtext",
        "id": "description",
        "label": "SEO description"
    },
    {
       "type": "video",
        "id": "main_video",
        "label": "Add Video"
    },
    {
      "type": "video",
      "id": "main_video_mobile",
      "label": "Mobile Video"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
       "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop the sale"
    },
    {
       "type": "url",
        "id": "button_text_url",
        "label": "Button URL"
    },
    {
       "type": "color",
        "id": "button_text_color",
        "label": "Button Color",
        "default": "#FFFFFF"
    },
    {
       "type": "color",
        "id": "button_text_bg",
        "label": "Button Background Color",
        "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}