{{ 'Faq_page_section_new.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="faq_page_section_wrapper_new section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    {% if section.settings.faq_main_title != blank or section.settings.left_panel_bottomcontent != blank %} 
    <div class="header-section">
     {% if section.settings.faq_main_title != blank %} 
       <div class="Common_title_new"> <h2>{{ section.settings.faq_main_title }}</h2></div> 
       {% endif %}
      {% if section.settings.left_panel_bottomcontent != blank %}
        <div class="faq_page_section_left_side_panel_inner_bottomContent large-up-hide medium-hide">{{ section.settings.left_panel_bottomcontent }}</div>
          {% endif %}
    </div>
       {% endif %}
   
    <div class="faq_page_section_main_container">
    <div class="faq_page_section_left_side">
      <div class="faq_page_section_left_side_panel">
      <div class="faq_page_section_left_side_panel_inner">
        {% if section.settings.left_panel_title != blank %}
        <div class="faq_page_section_left_side_panel_inner_maintitle"><h2>{{ section.settings.left_panel_title }}</h2></div>
          {% endif %}
        {%- for block in section.blocks -%}
          {%- if block.type == 'title' -%}
            <a href="#faq_{{ block.settings.faqtitle | handle }}" class="left_panel_item{% if forloop.index == 1 %} active{% endif %}">{{ block.settings.faqtitle }}</a> 
          
          {%- endif -%}
            
        {%- endfor -%}
        {% if section.settings.left_panel_bottomcontent != blank %}
        <div class="faq_page_section_left_side_panel_inner_bottomContent small-hide">{{ section.settings.left_panel_bottomcontent }}</div>
          {% endif %}
      </div>
        
      </div>
    </div>
    <div class="faq_page_section_right_side">
       {%- if section.blocks.size > 0 -%}
                  <div class="Index_faqs_accordion_list_sides_innerboths_mainloops_new">
                    <div class="Index_faqs_accordion_list_sides_innerboths_innerloops_new">
                     
                      <div class="accordion">
                        <ul class="list-unstyled">
                          {%- for block in section.blocks -%}
                            {%- if block.type == 'title' -%}
                              <div class="faq_title{% unless forloop.index <= 1 %} faq_title_padding_top{% endunless %}" id="faq_{{ block.settings.faqtitle | handle }}"><h3>{{ block.settings.faqtitle }}</h3></div>
                              {%- endif -%}
                              {%- if block.type == 'information' -%}
                            {%- if block.settings.title != blank and block.settings.infos != blank -%}
                              <li{% if block.type == 'information' and forloop.index0 == 1 %} class="open firsttab_padding"{% endif %}>
                                {%- if block.settings.title != blank -%}
                                  <div class="question">
                                    <h4>{{ block.settings.title }}</h4>
                                  </div>
                                {%- endif -%}
                                {%- if block.settings.infos != blank -%}
                                  <div class="answer"{% if block.type == 'information' and forloop.index0 == 1 %} style="display: block;"{% endif %}>
                                    {{ block.settings.infos }}
                                  </div>
                                {%- endif -%}
                              </li>
                            {%- endif -%}
                                {%- endif -%}
                          {%- endfor -%}
                        </ul>
                       
                      </div>
                    </div>
                  </div>
                {%- endif -%}
    </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Main FAQ Page",
    "settings": [
          {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
      {
        "type": "text",
        "id": "faq_main_title",
        "label": "Faq Main Title"
      },
      {
        "type": "text",
        "id": "left_panel_title",
        "label": "Left Panel Title"
      },
      {
        "type": "richtext",
        "id": "left_panel_bottomcontent",
        "label": "Left Panel Bottom Content"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
        "blocks": [
          {
            "type": "title",
            "name":"Title",
            "settings": [
              {
                "type": "text",
                "id": "faqtitle",
                "label": "Faq Title"
              }
            ]
          },
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "text",
            "id": "producttab",
            "label": "Faq Tab Title",
            "info": "Add same as FAQ Title",
            "default":"Product"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Add Main Question Text",
            "default": "Lorem Ipsum is simply dummy text?"
          },
          {
            "type": "richtext",
            "id": "infos",
            "label": "Add Main Answer Text",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Main FAQ Page"
      }
    ]
  }
{% endschema %}