{{ 'hb-reviews-slider.css' |  asset_url |  stylesheet_tag }}

{%- style -%}
  .id-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.63 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.88 | round: 0  }}px;
  }
  @media screen and (min-width: 768px) {
    .id-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="hb_reviews id-{{ section.id }}">
    <div class="page-width"> 
        <div class="hb_reviews__wrapper">
            <div class="hb_reviews__texts--wrap">
                <div class="hb_reviews__texts--wrap-inner">
                    {%- if section.settings.title != blank -%}
                        <div class="hb_reviews__stars--wrap">
                            {% for i in (1..5) %}
                                <span class="hb_reviews__star--icon">
                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_10221_6596)">
                                    <path d="M8.87082 14.321C8.95026 14.273 9.04974 14.273 9.12918 14.321L14.0548 17.2938C14.2441 17.4081 14.4776 17.2384 14.4274 17.023L13.1203 11.42C13.0992 11.3296 13.1299 11.235 13.2001 11.1742L17.5522 7.40397C17.7193 7.25917 17.6299 6.9846 17.4096 6.96591L11.6792 6.47974C11.5868 6.47191 11.5064 6.41357 11.4702 6.3282L9.23018 1.04309C9.14403 0.839835 8.85597 0.839835 8.76982 1.04309L6.52983 6.3282C6.49364 6.41357 6.41318 6.47191 6.32078 6.47974L0.590407 6.96591C0.37005 6.9846 0.280699 7.25917 0.447848 7.40397L4.79995 11.1742C4.87009 11.235 4.9008 11.3296 4.87972 11.42L3.5726 17.023C3.52236 17.2384 3.75592 17.4081 3.94525 17.2938L8.87082 14.321Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_10221_6596">
                                    <rect width="18" height="18" fill="white" transform="translate(0 0.5)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                </span>
                            {% endfor %}
                        </div>
                        <h2 class="hb_reviews__title">{{ section.settings.title }}</h2>
                    {%- endif -%}
                    {%- if section.settings.text != blank-%}
                        <p class="hb_reviews__content">{{ section.settings.text }}</p>
                    {%- endif -%}
                    {%- if  section.settings.btn_text != blank -%}
                        <a href="{{ section.settings.button_url }}" class="hb_reviews__shop--button">{{ section.settings.btn_text }}</a>
                    {%- endif -%}
                </div>
            </div>
            <div class="hb_reviews__details">
                <div class="swiper swiper-container" js-review-slider>
                    <div class="swiper-wrapper"> 
                        {% for block in section.blocks %}
                            <div class="hb_reviews__detail--wrap swiper-slide">
                                {%- if block.settings.image != blank -%}
                                    <div class="hb_reviews__image">
                                        {{ block.settings.image |  image_url: width: "1000x" |  image_tag  }}
                                    </div>
                                {%- endif -%} 
                                <div class="hb_reviews__detail--texts-wrap">
                                    {%- if block.settings.detail_title != blank -%}
                                        <h3 class="hb_reviews__detail--title">{{ block.settings.detail_title }}</h3>
                                    {%- endif -%}
                                    {%- if block.settings.detail_content != blank -%}
                                        <p class="hb_reviews__detail--content">{{ block.settings.detail_content }}</p>
                                    {%- endif -%}
                                    <div class="hb_reviews__detail--inner-wrap">
                                        {%- if block.settings.small_image != blank -%}
                                            <div class="hb_reviews__detail--inner-image">
                                                {{ block.settings.small_image |  image_url: width: "500x" |  image_tag  }}
                                            </div>
                                        {%- endif -%}
                                        {%- if block.settings.button_text != blank -%}
                                            <a href="{{ block.settings.button_link }}" class="hb_reviews__detail--inner-btn">{{ block.settings.button_text  }}</a>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>
                <div class="swiper-pagination"></div>
               </div> 
            </div>
        </div> 
        <div class="hb_reviews__details--icon-wrap">
            <div class="hb_reviews__details--icon prev" js-review-prev>
                <div class="hb_reviews__details--svg">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.172 12.9997L4 12.9997L4 10.9997L16.172 10.9997L10.808 5.63568L12.222 4.22168L20 11.9997L12.222 19.7777L10.808 18.3637L16.172 12.9997Z" fill="black"/>
                    </svg>
                </div>
            </div>
            <div class="hb_reviews__details--icon next" js-review-next>
                <div class="hb_reviews__details--svg">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.172 12.9997L4 12.9997L4 10.9997L16.172 10.9997L10.808 5.63568L12.222 4.22168L20 11.9997L12.222 19.7777L10.808 18.3637L16.172 12.9997Z" fill="black"/>
                    </svg>
                </div>
            </div>
        </div> 
    </div>
</div>

<script>
    var swiper = new Swiper("[js-review-slider]", {
        slidesPerView: 'auto',         
        spaceBetween: 16,    
        watchSlidesProgress: true, 
        draggable:!0,
        autoHeight:!1, 
        watchOverflow:!0,
        threshold:10,
        mousewheel:{
            forceToAxis:!0,
            invert: 0,
        },
        freeMode:!0, 
        breakpoints: { 
            {% comment %} 0: {
                slidesPerView: 1.32,                    
                spaceBetween: 16,
            }, 
            768: {
                slidesPerView: 1.5,
                spaceBetween: 16, 
            },
            991: {
                slidesPerView: 2.5,
                spaceBetween: 16,
            }, {% endcomment %}
            {% comment %} 1050: {
                slidesPerView: 'auto',
                spaceBetween: 16,
            }, {% endcomment %}
        },
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
        },
        navigation: {
            nextEl: "[js-review-next]",
            prevEl: "[js-review-prev]", 
        },
    });  
</script>

{% schema %}
  {
    "name": "Reviews slider",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
        },
        {
            "type": "header",
            "content": "Section Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 120,
            "step": 2,
            "default": 64,
            "unit": "px",
            "label": "Padding top"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 120,
            "step": 2,
            "default": 64,
            "unit": "px",
            "label": "Padding bottom"
        }
    ],
    "blocks": [
      {
        "name": "info",
        "type": "Info",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "detail_title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "detail_content",
                "label": "Content"
            },
            {
                "type": "image_picker",
                "id": "small_image",
                "label": "Small image"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews slider"
      }
    ]
  }
{% endschema %}