{%- if section.settings.main_review_image != blank or section.settings.main_review_text != blank or section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_button_link != blank or section.settings.main_left_custom_video != blank or section.settings.main_left_custom_image != blank or section.settings.main_left_heading_text != blank or section.settings.main_left_details_text != blank or section.settings.main_desktop_video != blank or section.settings.main_mobile_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank or section.settings.main_product_static_image != blank or section.settings.main_product_hover_image != blank or section.settings.main_product_title_text != blank or section.settings.main_product_button_text != blank -%}
  <div class="Index_top_text_with_video_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="Index_top_text_with_video_inner_new">
      <div class="Index_top_text_with_video_sides_new">
        {%- if section.settings.main_review_image != blank or section.settings.main_review_text != blank or section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_button_link != blank or section.settings.main_left_custom_video != blank or section.settings.main_left_custom_image != blank or section.settings.main_left_heading_text != blank or section.settings.main_left_details_text != blank -%}
          <div class="Index_top_text_with_video_sides_mainleft_new">
            <div class="Index_top_text_with_video_sides_innerleft_new">
              {%- if section.settings.main_review_image != blank or section.settings.main_review_text != blank or section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_button_link != blank -%}
                <div class="Index_top_text_with_video_sides_innerleft_maindetail_new">
                  <div class="Index_top_text_with_video_sides_innerleft_innerdetail_new">
                    {%- if section.settings.main_review_image != blank or section.settings.main_review_text != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innerdetail_mainboths_new">
                        <div class="Index_top_text_with_video_sides_innerleft_innerdetail_innerboths_new">
                          {%- if section.settings.main_review_image != blank -%}
                            <div class="Index_top_text_with_video_sides_innerleft_innerdetail_innerboths_image_new">
                              {{
                                section.settings.main_review_image | 
                                image_url: width: img.width | 
                                image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                fetchpriority: 'auto', 
                                class:'Review_image_new'
                              }}
                            </div>
                          {%- endif -%}
                          {%- if section.settings.main_review_text != blank -%}
                            <div class="Index_top_text_with_video_sides_innerleft_innerdetail_innerboths_texts_new">
                              {{ section.settings.main_review_text }}
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}
                    {%- if section.settings.main_heading_text != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innerdetail_maintitle_new">
                        <div class="Common_title_new Index_top_text_with_video_sides_innerleft_innerdetail_innertitle_new">
                          <h2>{{ section.settings.main_heading_text }}</h2>
                        </div>
                      </div>
                    {%- endif -%}
                    {%- if section.settings.main_information_text != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innerdetail_maininfos_new">
                        <div class="Index_top_text_with_video_sides_innerleft_innerdetail_innerinfos_new">
                          {{ section.settings.main_information_text }}
                        </div>
                      </div>
                    {%- endif -%}
                    {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innerdetail_mainbutton_new">
                        <div class="Index_top_text_with_video_sides_innerleft_innerdetail_innerbutton_new">
                          <a href="{{ section.settings.main_button_link }}" class="button">
                            {{ section.settings.main_button_text }}  
                          </a>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              {%- if section.settings.main_left_custom_video != blank or section.settings.main_left_custom_image != blank or section.settings.main_left_heading_text != blank or section.settings.main_left_details_text != blank -%}
                <div class="Index_top_text_with_video_sides_innerleft_mainsides_new">
                  <div class="Index_top_text_with_video_sides_innerleft_innersides_new">
                    {%- if section.settings.main_left_custom_video != blank or section.settings.main_left_custom_image != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innersides_mainboths_new">
                        <div class="Index_top_text_with_video_sides_innerleft_innersides_innerboths_new">
                          {%- if section.settings.main_left_custom_video != blank -%}
                            <div class="Index_top_text_with_video_sides_innerleft_innersides_innerboths_videoimage_new">
                              {{ section.settings.main_left_custom_video | video_tag: class:'custom_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                            </div>
                          {% else %}  
                            {%- if section.settings.main_left_custom_image != blank -%}
                              <div class="Index_top_text_with_video_sides_innerleft_innersides_innerboths_videoimage_new">
                                {{
                                  section.settings.main_left_custom_image | 
                                  image_url: width: img.width | 
                                  image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                  fetchpriority: 'auto', 
                                  class:'custom_image_new'
                                }}
                              </div>
                            {%- endif -%}
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}
                    {%- if section.settings.main_left_heading_text != blank or section.settings.main_left_details_text != blank -%}
                      <div class="Index_top_text_with_video_sides_innerleft_innersides_maintexts_new">
                        <div class="Index_top_text_with_video_sides_innerleft_innersides_innertexts_new">
                          {%- if section.settings.main_left_heading_text != blank -%}
                            <div class="Index_top_text_with_video_sides_innerleft_innersides_innertexts_maintitle_new">
                              <div class="Index_top_text_with_video_sides_innerleft_innersides_innertexts_innertitle_new">
                                <h5>{{ section.settings.main_left_heading_text }}</h5>
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if section.settings.main_left_details_text != blank -%}
                            <div class="Index_top_text_with_video_sides_innerleft_innersides_innertexts_maininfos_new">
                              <div class="Index_top_text_with_video_sides_innerleft_innersides_innertexts_innerinfos_new">
                                {{ section.settings.main_left_details_text }}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}  
                  </div>
                </div>
              {%- endif -%}  
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.main_desktop_video != blank or section.settings.main_mobile_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank or section.settings.main_product_static_image != blank or section.settings.main_product_hover_image != blank or section.settings.main_product_title_text != blank or section.settings.main_product_button_text != blank -%}
          <div class="Index_top_text_with_video_sides_mainright_new">
            <div class="Index_top_text_with_video_sides_innerright_new">
              {%- if section.settings.main_desktop_video != blank or section.settings.main_mobile_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
                <div class="Index_top_text_with_video_sides_innerright_mainstatic_new">
                  <div class="Index_top_text_with_video_sides_innerright_innerstatic_new">
                    {%- if section.settings.main_desktop_video != blank and section.settings.main_mobile_video != blank -%}
                      <div class="Index_top_text_with_video_sides_innerright_innerstatic_videoimage_new">
                        {%- if section.settings.main_desktop_video != blank -%}
                          {{ section.settings.main_desktop_video | video_tag: class:'desktop_image_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                        {%- endif -%}
                        {%- if section.settings.main_mobile_video != blank -%}
                          {{ section.settings.main_mobile_video | video_tag: class:'mobile_image_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                        {%- endif -%}
                      </div>
                    {% else %}  
                      {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                        <div class="Index_top_text_with_video_sides_innerright_innerstatic_videoimage_new">
                          {%- if section.settings.main_desktop_image != blank -%}
                            {{
                              section.settings.main_desktop_image | 
                              image_url: width: img.width | 
                              image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                              fetchpriority: 'auto', 
                              class:'desktop_image_new'
                            }}
                          {%- endif -%}
                          {%- if section.settings.main_mobile_image != blank -%}
                            {{
                              section.settings.main_mobile_image | 
                              image_url: width: img.width | 
                              image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                              fetchpriority: 'auto', 
                              class:'mobile_image_new'
                            }}
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              {%- if section.settings.main_product_static_image != blank or section.settings.main_product_hover_image != blank or section.settings.main_product_title_text != blank or section.settings.main_product_button_text != blank -%}
                <div class="Index_top_text_with_video_sides_innerright_mainoverlay_new Desktop_only_new">
                  {%- if section.settings.main_product_redirect_link != blank -%}
                    <a href="{{ section.settings.main_product_redirect_link }}">
                  {%- endif -%}
                      <div class="Index_top_text_with_video_sides_innerright_inneroverlay_new">
                        {%- if section.settings.main_product_static_image != blank or section.settings.main_product_hover_image != blank or section.settings.main_product_title_text != blank -%}
                          <div class="Index_top_text_with_video_sides_innerright_inneroverlay_mainboths_new">
                            <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_new">
                              {%- if section.settings.main_product_static_image != blank or section.settings.main_product_hover_image != blank -%}
                                <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_mainimage_new">
                                  <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_innerimage_new">
                                    {%- if section.settings.main_product_static_image != blank -%}
                                      {{
                                        section.settings.main_product_static_image | 
                                        image_url: width: img.width | 
                                        image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                        fetchpriority: 'auto', 
                                        class:'Static_image_new'
                                      }}
                                    {%- endif -%}
                                    {%- if section.settings.main_product_hover_image != blank -%}
                                      {{
                                        section.settings.main_product_hover_image | 
                                        image_url: width: img.width | 
                                        image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                        fetchpriority: 'auto', 
                                        class:'Hover_image_new'
                                      }}
                                    {%- endif -%}
                                  </div>
                                  {%- if section.settings.main_product_tags_text != blank -%}
                                    <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_mainimage_tagstext_new">
                                      {{ section.settings.main_product_tags_text }}
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                              {%- if section.settings.main_product_title_text != blank -%}
                                <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_maintitle_new">
                                  <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerboths_innertitle_new">
                                    {{ section.settings.main_product_title_text }}
                                  </div>
                                </div>
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                        {%- if section.settings.main_product_button_text != blank -%}
                          <div class="Index_top_text_with_video_sides_innerright_inneroverlay_mainbutton_new">
                            <div class="Index_top_text_with_video_sides_innerright_inneroverlay_innerbutton_new">
                              {{ section.settings.main_product_button_text }}
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                  {%- if section.settings.main_product_redirect_link != blank -%}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Index Top Text With Video",
    "class": "Index_top_text_with_video_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#F6F6F6"
      },
      {
        "type": "header",
        "content": "==== Left Side Detail ===="
      },
      {
        "type": "image_picker",
        "id": "main_review_image",
        "label": "Add Main Review Image"
      },
      {
        "type": "textarea",
        "id": "main_review_text",
        "label": "Add Main Review Text",
        "default": "Rated 4.7 • 9,201 Reviews"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Innovative eyewear<br>that adapts to you"
      },
      {
        "type": "richtext",
        "id": "main_information_text",
        "label": "Add Main Information Text",
        "default": "<p>With adjustable-tint and color-changing lens technology, we make sunglasses that fit your style and your life.</p>"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "shop Bestsellers"
      },
      {
        "type": "url",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "/"
      },
      {
        "type": "video",
        "id": "main_left_custom_video",
        "label": "Add Main Left Custom Video"
      },
      {
        "type": "image_picker",
        "id": "main_left_custom_image",
        "label": "Add Main Left Custom Image"
      },
      {
        "type": "textarea",
        "id": "main_left_heading_text",
        "label": "Add Main Left Heading Text",
        "default": "Time’s Best Inventions Of 2024"
      },
      {
        "type": "richtext",
        "id": "main_left_details_text",
        "label": "Add Main Left Details Text",
        "default": "<p>Voted one of Time Magazine’s Best Inventions of 2024, we’re here to redefine what eyewear can do.</p>"
      },
      {
        "type": "header",
        "content": "==== Right Side Detail ===="
      },
      {
        "type": "video",
        "id": "main_desktop_video",
        "label": "Add Main Desktop Video"
      },
      {
        "type": "video",
        "id": "main_mobile_video",
        "label": "Add Main Mobile Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      },
      {
        "type": "textarea",
        "id": "main_product_title_text",
        "label": "Add Main Product Title Text",
        "default": "Prime"
      },
      {
        "type": "text",
        "id": "main_product_tags_text",
        "label": "Add Main Product Tags Text",
        "default": "New"
      },
      {
        "type": "image_picker",
        "id": "main_product_static_image",
        "label": "Add Main Product Static Image"
      },
      {
        "type": "image_picker",
        "id": "main_product_hover_image",
        "label": "Add Main Product Hover Image"
      },
      {
        "type": "text",
        "id": "main_product_button_text",
        "label": "Add Main Product Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "main_product_redirect_link",
        "label": "Add Main Product Redirect Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Index Top Text With Video"
      }
    ]
  }
{% endschema %}