{%- if product.metafields.custom.product_specs_item_list_selections.value != blank -%}
  {%- assign product_specs_item_list_selections = product.metafields.custom.product_specs_item_list_selections.value -%}
  <div class="Product_object_specs_list_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="Product_object_specs_list_backleft_new" style="background: {{ section.settings.inner_background_color }};">

    </div>
    <div class="Product_object_specs_list_backtop_new" style="background: {{ section.settings.inner_background_color }};">

    </div>
    <div class="Product_object_specs_list_backright_new" style="background: {{ section.settings.inner_background_color }};">

    </div>
    <div class="page-width">
      <div class="Product_object_specs_list_inner_new">
        <div class="Product_object_specs_list_sides_new">
          {%- if product_specs_item_list_selections.main_video_or_image_left.value != blank or product_specs_item_list_selections.main_video_or_image_right.value != blank -%}
            {%- if product_specs_item_list_selections.main_video_or_image_left.value != blank -%}
              <div class="Product_object_specs_list_sides_innerleft_mainstatic_new">
                <div class="Product_object_specs_list_sides_innerleft_innerstatic_new Desktop_only_new">
                  {%- if product_specs_item_list_selections.main_video_or_image_left.value contains "files" -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{
                        product_specs_item_list_selections.main_video_or_image_left.value | 
                        image_url: width: img.width | 
                        image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                        fetchpriority: 'auto', 
                        class:'Static_image_new'
                      }}
                    </div>
                  {%- else -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{ product_specs_item_list_selections.main_video_or_image_left.value | video_tag: class:'Static_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                    </div>
                  {%- endif -%}
                </div>

                <div class="Product_object_specs_list_sides_innerleft_innerstatic_new Mobile_only_new">
                  {%- if product_specs_item_list_selections.main_video_or_image_left_for_mobile.value contains "files" -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{
                        product_specs_item_list_selections.main_video_or_image_left_for_mobile.value | 
                        image_url: width: img.width | 
                        image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                        fetchpriority: 'auto', 
                        class:'Static_image_new'
                      }}
                    </div>
                  {%- else -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{ product_specs_item_list_selections.main_video_or_image_left_for_mobile.value | video_tag: class:'Static_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                    </div>
                  {%- endif -%}
                </div>
                
              </div>
            {%- endif -%}
            {%- if product_specs_item_list_selections.main_video_or_image_right.value != blank -%}
              <div class="Product_object_specs_list_sides_innerleft_mainstatic_new Desktop_only_new">
                <div class="Product_object_specs_list_sides_innerleft_innerstatic_new">
                  {%- if product_specs_item_list_selections.main_video_or_image_right.value contains "files" -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{
                        product_specs_item_list_selections.main_video_or_image_right.value | 
                        image_url: width: img.width | 
                        image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                        fetchpriority: 'auto', 
                        class:'Static_image_new'
                      }}
                    </div>
                  {%- else -%}
                    <div class="Product_object_specs_list_sides_innerleft_innerstatic_imagevideo_new">
                      {{ product_specs_item_list_selections.main_video_or_image_right.value | video_tag: class:'Static_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
          {%- if product_specs_item_list_selections.main_heading_text.value != blank or product_specs_item_list_selections.main_information_list.value != blank -%}
            <div class="Product_object_specs_list_sides_mainright_new">
              <div class="Product_object_specs_list_sides_innerright_new">
                {%- if product_specs_item_list_selections.main_heading_text.value != blank -%}
                  <div class="Product_object_specs_list_sides_innerright_maintitle_new">
                    <div class="Product_object_specs_list_sides_innerright_innertitle_new">
                      <h4>{{ product_specs_item_list_selections.main_heading_text }}</h4>
                    </div>
                  </div>
                {%- endif -%}
                {%- if product_specs_item_list_selections.main_information_list.value != blank -%}
                  <div class="Product_object_specs_list_sides_innerright_mainloops_new">
                    <div class="Product_object_specs_list_sides_innerright_innerloops_new">
                      {%- for main_information_list in product_specs_item_list_selections.main_information_list.value -%}
                        {%- if main_information_list != blank -%}
                          <div class="Product_object_specs_list_sides_innerright_innerloops_mainboxs_new">
                            <div class="Product_object_specs_list_sides_innerright_innerloops_innerboxs_new">
                              {{ main_information_list }}
                            </div>
                          </div>
                        {%- endif -%}  
                      {%- endfor -%}  
                    </div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}  
        </div>  
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Product Object Specs List",
    "class": "Product_object_specs_list_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color"
      },
      {
        "type": "color",
        "id": "inner_background_color",
        "label": "Add Inner Background Color",
        "default": "#FFFFFF"
      }
    ],
    "presets": [
      {
        "name": "Product Object Specs List"
      }
    ]
  }
{% endschema %}